<header>
  <h1><a routerLink="/">OpenAPI Viewer</a></h1>
  <div class="flex-grow"></div>
  <div class="app-search">
    <input data-stretch [formControl]="searchService.control" placeholder="Поиск"/>
    <button appIcon="assets/close.svg" *ngIf="searchService.control.value" class="close-button" (click)="searchService.control.reset()"></button>
  </div>
</header>
<div class="app-container">

  <aside class="app-aside app-aside-left" *ngIf="menuItems$ | async as menuItems">
    <app-side-menu [methods]="menuItems"></app-side-menu>
  </aside>

  <main *ngIf="selectedMethod$ | async as method; else welcomePage" class="app-main">
    <header>
      <h2>
        <span [attr.data-method]="method.method">{{method.method}}</span>
        <span> {{method.path}} </span>
        <span class="secondary"> - {{method.operation.operationId}}</span>
      </h2>
    </header>
    <br/>
    <div class="flex" [style.gap.rem]="1">
      <section class="flex-grow">
        <figure>
          <h2>Description</h2>
          <div>{{method.operation.summary ?? method.operation.description}}</div>
        </figure>

        <figure *ngIf="method.operation.parameters">
          <h2>Parameters</h2>
          <app-parameters [parameters]="method.operation.parameters"></app-parameters>
        </figure>

        <figure *ngIf="method.operation.requestBody as requestBody">
          <h2>Body schema</h2>
          <ng-container *notReference="requestBody">
            <ng-container *ngIf="requestBody.description">{{requestBody.description}}</ng-container>
            <app-content [content]="requestBody.content"></app-content>
          </ng-container>
          <ng-container *isReference="requestBody">
            <app-reference [ref]="requestBody"></app-reference>
          </ng-container>
        </figure>

        <figure>
          <h2>Responses</h2>
          <div *ngFor="let response of selectedMethodResponses$ | async">
            <ng-container *notReference="response.value as r">
              <div>
                <b>{{response.key}}</b>
                <span *ngIf="r.description"> - {{r.description}}</span>
              </div>
              <app-content [content]="r.content"></app-content>
            </ng-container>
          </div>
        </figure>
      </section>
      <aside *ngIf="selectedMethod$ | async as method">
        <figure>
          <h2>Try it</h2>
          <app-try-it [method]="method"></app-try-it>
        </figure>
      </aside>
    </div>
    <!--    <pre>DEBUG: {{method.operation.responses | json}}</pre>-->
  </main>

  <ng-template #welcomePage>
    <main *ngIf="openapiService.openApi$ | async as openApi" class="app-main">
      <h2>{{openApi.info.title}}</h2>
    </main>

  </ng-template>

</div>
